;; shadow-cljs configuration
{:source-paths
 ["src/main" "src/test" "src/dev"]

 :dependencies

 [[applied-science/js-interop "0.3.1"]
  [cljs-http/cljs-http  "0.1.46"]
  [org.clojure/core.async "1.5.648"]
  [com.rpl/specter "1.1.3"]
  [datascript "1.3.5"]
  [com.wsscode/async "2021.01.15"]]


 :dev-http {8080 "./"}

 :nrepl        {:port 8702}

 :builds
 {:app
  {:target :browser
   :output-dir "./"
   :modules {:main {:init-fn cljs-playground.core/init}}
   }}
 }
